.loginButton {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.navSection img {
  cursor: pointer;
}

.navSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList {
  display: flex;
  list-style-type: none;
}

.menuList li {
  padding: 10px;
}

.searchInput {
  border: none;
  border-bottom: 1px solid #CCC;
}

.searchBox {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}

.searchBox input {
  border: none;
  margin-left: 5px;
}

.searchBox input:focus {
  outline: none
}

.productImage {
  width: 300px;
}

.productCard {
  transition: all 0.2s linear;
  cursor: pointer;
}

.productCard:hover {
  transform: scale(1.1);
}

.productDetailImage {
  display: flex;
  justify-content: flex-end;
}

.productDetailTitle {
  font-weight: bold;
  font-size: 30px;
}
